:root {
  --textColor: #eee;
  --text_color_body: #565656;
  --white_soft: #F4F1EC;
  --bg_charts: #FFFDFA;
  --hover_btn: #301f05;
  --text_green: #48924f;
  --background_brown: #314223;
  --bkg_dark_mode: #0c181c;
  --txt_dark_mode: #FFFFFF;
}

.wallpaper {
  position: relative;
}

.wallpaper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Gradiente CSS (puedes ajustar los colores y direcciones según tus necesidades) */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.308));
}

.hover-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white_soft);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}

.floating-button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #6b6565c5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.floating-button.visible {
  opacity: 1;
}

.floating-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.floating-button i {
  font-size: 20px;
}

.floating-button2 {
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: #6b6565c5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.floating-button.visible2 {
  opacity: 1;
}

.icons_results {
  font-size: 30px;
  color:var(--text_green);
}

.carousel {
  padding-top: 4rem;
  padding-bottom: 5.5rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 100vw;
  z-index: -2;
}

.box {
  background-color: var(--white_soft);
  padding: 1.5rem;
  display: flex !important;
  align-items: center !important;
}

.slick-slide div {
  margin: 0 1rem;
}

.slick-next {
  right: -45px !important;
  visibility: hidden;
}

.slick-prev {
  left: -45px !important;
  visibility: hidden;
  /* TODO verificar por que no funcionan las flechas  */
}

/* .slick-dots li.slick-active button:before {
  margin-top: 10px;
  color: white !important;
}

.slick-dots li button:before {
  margin-top: 10px;
  color: black !important;
  font-size: 1rem !important;
  top: 2rem !important;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
  background-color: transparent;
  color: var(--txt_dark_mode);
}

nav a {
  margin: 0 4rem;
  color: var(--txt_dark_mode);
  text-decoration: none;
  transition: font-size 0.3s ease;
  /* Propiedad de transición */

}

nav a:hover {
  font-size: 19px;
}

.nav_logo {
  margin-right: 26rem;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--txt_dark_mode);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

nav .nav-close-btn {
  display: none;
  /* Ocultar el botón de cierre por defecto */
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 2rem;
    /* Ajustamos la posición a 2 rem desde el borde izquierdo */
    top: 2rem;
    /* Ajustamos la posición a 2 rem desde la parte superior */
    z-index: 2;

  }

  .nav_logo {
    visibility: hidden;
  }

  header nav {
    position: fixed;
    top: 0;
    left: -75%;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(185, 185, 185, 0.927);
    transition: 1.5s;
  }

  header .responsive_nav.active {
    left: 0;

  }

  nav.active .nav-close-btn {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--text_green);

  }

  nav a {
    font-size: 1.5rem;
    color: var(--txt_dark_mode);
    font-size: 18px;
  }

  nav a:hover {
    font-size: 1.5rem;
    color:  var(--text_green);
  }
}


/* ------------------------------------------ */
.lang-menu {
  width: 100px;
  /* text-align: right; */
  font-weight: bold;
}

.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;

}

.lang-menu .selected-lang:before {
  content: '';
  display: inline-block;
  /* width: 35px;
    height: 35px; */
  /* background-image: url(/assets/translate_icon.png); */
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin-left: 0.3rem;
  display: none;
  background-color: transparent;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}


.lang-menu ul li {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f8f8f88b;
}

.lang-menu ul li button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  align-items: center;
}

.lang-menu ul li:hover {
  background-color: #f3f3f397;
}

.lang-menu ul li button:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

.cat:before {
  background-image: url(/assets/cat_flag.png);
}

.en:before {
  background-image: url(/assets/en_flag.png);
}

.es:before {
  background-image: url(/assets/es_flag.png);
}


.lang-menu:hover ul {
  display: block;
}

/* Estilo personalizado para el listado */
.indented-list {
  list-style-type: disc;
  /* Establece la viñeta como un círculo */
  padding-left: 1rem;
  /* Ajusta el espaciado entre la viñeta y el texto */
}


/* popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer; /* Cambiar el cursor al estar sobre el popup */
}
.popup-container {
  background-color: var(--white_soft);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.popup-content {
color: var(--text_color_body);
}
.popup-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color:white;
}
